<h1>My tasks</h1>
<% @tasks.each do |task| %>
 <% completed = task.completed ? "fa-check-square" : "fa-square" %>
 <p><i class="far <%= completed %>"></i><%= link_to task.title, task_id_path(task.id) %></p>
<% end %>

<div>
  <%= link_to "Add a new task", tasks_new_path %>
</div>
